:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

.profile-pic {
  width: 200px;
  border-radius: 5px;
  margin-left: 20%;
  margin-top: 20%;
  margin-right: 20px;
}

header {
  display: flex;
  background: url('/images/space.png');
  background-size: 100%;
}

.container-2-header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-right: o;
  padding-left: 0;
  background-color: #00000090;
}

.container-1-header {
  display: flex;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.main-img {
  width: 225px;
  height: 144px;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: column;
}

.header-text {
  background-color: rgb(255, 255, 255);
  height: 6rem;
  margin-left: 40px;
  border-radius: 5px;
}

h1 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;

  ;
}

h3 {
  margin-top: 0px;
}

h1,
h3 {
  padding-right: 15px;
  padding-left: 15px;
}

.main-header-1-background {
  background: url('/images/react.png');
  height: 5rem;
  margin: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-size: 100%;
}

.main-header-2-background {
  background: url('/images/code.png');
  height: 5rem;
  margin: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.container-1-main {
  position: flex;
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
}

.container-2-main {
  position: flex;
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
}

span {
  font-size: 0.75rem;
}

h2 {
  margin-top: 0;
}

.main {
  background-color: #000000;
}

.container-2-footer {
  display: flex;
  align-items: center;
}

.twitter {
  border-radius: 50%;
  height: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}

.container-2-footer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container-1-footer {
  color: white;
  padding-top: 3rem;
}

.container-3-footer {
  color: white;
  padding-bottom: 3rem;
}

.keep-reading-1 {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  width: 10rem;
  margin-left: 75%;
  padding: 2px;
  margin-top: -15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.keep-reading-2 {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  width: 10rem;
  margin-left: 75%;
  padding: 2px;
  margin-top: -15px;
  border-radius: 5px;
}

.keep-reading-text {
  text-align: center;
  margin: 5px;
  font-size: 15px;
  padding: 10px;
}

.triangle {
  margin-left: 40px;
  margin-top: -2px;
}

@media (max-width: 800px) {
  section {
    border: 5px solid palevioletred;

  }
}